---
import { AppType } from "../../data/types";
import AnswerCard from "../AnswerCard.astro";
import QuestionCard from "./QuestionCard.astro";
import { SupportingInfo } from "../../data/supporting-info";

const { params } = Astro;
const { websiteType } = params;

const types = Object.values(AppType).map((value) => value);
---

<style>
  @media screen and (min-width: 50rem) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: stretch;
    padding: 1rem;
  }

  .details details {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: var(--card-bg);
    backdrop-filter: blur(1.25rem);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-decoration: none;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    transition: all 0.42s ease-in-out;
  }

  .details summary {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: calc(32 / 24);
  }

  .details p {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--card-text-color);
    margin-top: 1rem;
  }
</style>

<div class="grid">
  {
    types.map((type) => (
      <AnswerCard
        href={`${websiteType}/${type.toLowerCase()}`}
        answer={SupportingInfo.appType[type].answerToAppTypeQuestion}
        examples={SupportingInfo.appType[type].examples}
        stretchCard={false}
      />
    ))
  }
</div>
<div class="details">
  <details>
    <summary>What is a Single-Page Application (SPA)?</summary>
    <p>
      A SPA is a JavaScript application that, once loaded in the browser, updates the page view locally by modifying the
      DOM, rather than by navigating to a new page as an HTML response from the server. As a result, SPAs are able to
      persist parts of a page that don't change between routes, such as login state or work in progress. Whilst there
      are certainly ways to maintain state without using a SPA, such as using session cookies or your own bespoke
      JavaScript, the SPA approach is often useful for front end developers who don't want to venture into more
      back-endy territory. The core concept of SPAs is to make web pages feel like native device applications through
      faster page transitions.
    </p>
  </details>
</div>
