---
import { AppType } from "../../data/types";
import AnswerCard from "../AnswerCard.astro";
import { SupportingInfo } from "../../data/supporting-info";

const { params } = Astro;
const { websiteType } = params;

const types = Object.values(AppType).map((value) => value);
---

<style>
  @media screen and (min-width: 50rem) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .details {
    margin-bottom: 2rem;
  }
</style>

<h1>Do you need your website to maintain state across multiple pages?</h1>

<div class="grid">
  {
    types.map((type) => (
      <AnswerCard
        href={`${websiteType}/${type.toLowerCase()}`}
        answer={SupportingInfo.appType[type].answerToAppTypeQuestion}
        examples={SupportingInfo.appType[type].examples}
        stretchCard={false}
      />
    ))
  }
</div>

<div class="details">
  <h2>What is state?</h2>
  <p>
    State is what a thing is currently like. The current state of your house is made up of all the furniture, objects,
    animals, plants, and people inside it, and other environmental factors such as the temperature and whether you need
    to do the washing up. The current state of a piece of software includes all the data held about that application in
    a browser at any one time.
  </p>
</div>
