---
import { AppType } from "../../data/types";
const { params } = Astro;

const paths = Object.values(AppType).map((value) => {
  return {
    slug: `/${params.websiteType}/${value.toLowerCase()}`,
    name: value,
  };
});

const supportingInfo: any = {
  [AppType.Spa]: "info about spa",
  [AppType.Mpa]: "info about mpa",
};
---

<style>
  .choice {
    border: 1px solid green;
    margin-bottom: 1rem;
    display: block;
  }
</style>

<h2>Do you need client-side routing? MORE INFO HERE</h2>
{
  paths.map((path) => (
    <div class="choice">
      <a href={path.slug}>
        <h3>{path.name}</h3>
      </a>
      <p>{supportingInfo[path.name]}</p>
    </div>
  ))
}
