---
import type { AppType, WebsiteType } from "../../../data/types";
import Main from "../../../layouts/Main.astro";
import StartOver from "../../../components/StartOver.astro";
import Validator from "../../../utils/Validator";
import FrameworkOptions from "../../../components/FrameworkOptions.astro";
import FrameworkSelector from "../../../utils/FrameworkSelector";
import QuestionCard from "../../../components/questions/QuestionCard.astro";
import { SupportingInfo } from "../../../data/supporting-info";
import { shuffle } from "../../../utils/tools";

const { params } = Astro;

if (!Validator.appType(params.appType)) {
  return Astro.redirect("/");
}

const options = FrameworkSelector({ websiteType: params.websiteType, appType: params.appType });

const topPicks = shuffle(options.filter((option) => option.appTypesInOrderOfPriority[0] === params.appType));

const otherPicks = shuffle(options.filter((option) => option.appTypesInOrderOfPriority[0] !== params.appType));

const headline = `💡 You chose a ${SupportingInfo.websiteType[params.websiteType as WebsiteType].name} that's a ${
  SupportingInfo.appType[params.appType as AppType].name
}.`;
---

<Main>
  <QuestionCard headline={headline} supporting="Here are some options!" />

  <FrameworkOptions options={topPicks} allowFilter={false} topPick={true} />
  <FrameworkOptions options={otherPicks} topPick={false} />

  <div style="margin-top: 100px;">
    <StartOver />
  </div>
</Main>
