---
import type { Framework } from "../data/types";
import { Frameworks } from "../data/frameworks";
const { data, topPick } = Astro.props;

function getFrameworkLogo(frameworkName: string): string {
  const fw = Frameworks.find((fw) => fw.meta.name === frameworkName);
  return `https://github.com/${fw?.meta.githubOrg}.png`;
}
---

<style>
  .framework { 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: var(--card-bg);
    backdrop-filter: blur(1.25rem);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-decoration: none;
    color: var(--card-text-color);
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
    transition: all 0.42s ease-in-out;
    overflow: hidden;
    position: relative;
  }

  .framework__name {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: calc(32 / 24);
    margin-bottom: 0.5rem;
  }

  a {
    display: block;
  }

  .framework__featureList {
    padding-inline-start: 1.5rem;
    margin-bottom: 1rem;
  }

  .framework__featureListItem {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--card-text-color);
    list-style: disc;
  }

  .framework__usesFrameworksList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-inline-start: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .framework__usesFrameworksListItem {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
  }

  .framework__usesFrameworksListItem--highlight {
    border-radius: 100%;
    background: var(--card-logo-bg-color);
  }

  .framework__logo {
    height: 4rem;
    aspect-ratio: 1/1;
    margin-bottom: 0.5rem;
    border-radius: 100%;
  }

  .framework__logoImgSmall {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
  }

  img {
    height: 100%;
    border-radius: 100%;
  }

  .framework__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .framework__linksItem {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--card-link-text-color);
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.42s ease-in-out;
  }

  .framework__linksItem:hover {
    color: var(--card-link-text-color-hover);
    background-color: var(--card-link-bg-hover);
  }

  .framework__linksItem:active {
    color: var(--card-link-text-color-active);
    background-color: var(--card-link-bg-active);
  }

  .framework__linksItem:focus {
    outline: transparent;
    box-shadow: var(--card-focus-shadow);
  }

  .framework__topPick {
    text-transform: uppercase;
    transform: rotate(-35deg);
    position: absolute;
    z-index: 10;
    background: var(--rainbow6);
    color: #fff;
    padding: 2rem 4rem 0.5rem 4rem;
    font-size: 1rem;
    font-weight: bold;
    top: -6px;
    left: -64px;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  }
</style>

<li class="framework" data-card data-features={data.features.map((feat: string) => feat).join(",")}>
  <div>
    {topPick ? <span class="framework__topPick">top pick</span> : ""}
    <div class="framework__logo">
      <img src={`https://github.com/${data.meta.githubOrg}.png`} alt={data.meta.name}
      class="framework__logoImg" loading="lazy" />
    </div>
    <h2 class="framework__name">{data.meta.name}</h2>
    
    <ul class="framework__featureList">
      {data.features.map((feature: string) => <li class="framework__featureListItem">{feature}</li>)}
    </ul>
    
    {data.usesFrameworks.length > 0 ?
    <h3 class="framework__featureListItem">Uses frameworks</h3>
    <ul class="framework__usesFrameworksList">{data.usesFrameworks.map((fw: Framework) => <li class="framework__usesFrameworksListItem framework__usesFrameworksListItem--highlight"><img src={getFrameworkLogo(fw.meta.name)} alt={fw.meta.name} class="framework__logoImgSmall" loading="lazy" /></li>)}</ul> : ""}

    {data.templatingEngines.length > 0 ?
      (<h3 class="framework__featureListItem">Templating engines</h3>
      <ul class="framework__usesFrameworksList">
        {data.templatingEngines.map((te: Framework) => <li class="framework__usesFrameworksListItem">{te.meta.name}</li>)}
      </ul>) : ""}
  </div>

  <div class="framework__links">  
    <a href={`https://github.com/${data.meta.githubOrg}/${data.meta.githubRepo}`} target="_blank" class="framework__linksItem">
      <svg role="img" width=" 19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.5 0.25C4.66562 0.25 0.75 4.16562 0.75 9C0.75 12.8719 3.25469 16.1422 6.73281 17.3016C7.17031 17.3781 7.33437 17.1156 7.33437 16.8859C7.33437 16.6781 7.32344 15.9891 7.32344 15.2563C5.125 15.6609 4.55625 14.7203 4.38125 14.2281C4.28281 13.9766 3.85625 13.2 3.48438 12.9922C3.17812 12.8281 2.74062 12.4234 3.47344 12.4125C4.1625 12.4016 4.65469 13.0469 4.81875 13.3094C5.60625 14.6328 6.86406 14.2609 7.36719 14.0313C7.44375 13.4625 7.67344 13.0797 7.925 12.8609C5.97812 12.6422 3.94375 11.8875 3.94375 8.54062C3.94375 7.58906 4.28281 6.80156 4.84063 6.18906C4.75313 5.97031 4.44687 5.07344 4.92812 3.87031C4.92812 3.87031 5.66094 3.64063 7.33437 4.76719C8.03437 4.57031 8.77813 4.47187 9.52188 4.47187C10.2656 4.47187 11.0094 4.57031 11.7094 4.76719C13.3828 3.62969 14.1156 3.87031 14.1156 3.87031C14.5969 5.07344 14.2906 5.97031 14.2031 6.18906C14.7609 6.80156 15.1 7.57812 15.1 8.54062C15.1 11.8984 13.0547 12.6422 11.1078 12.8609C11.425 13.1344 11.6984 13.6594 11.6984 14.4797C11.6984 15.65 11.6875 16.5906 11.6875 16.8859C11.6875 17.1156 11.8516 17.3891 12.2891 17.3016C14.0261 16.7152 15.5355 15.5988 16.6048 14.1096C17.6741 12.6204 18.2495 10.8333 18.25 9C18.25 4.16562 14.3344 0.25 9.5 0.25Z"
          fill="currentColor"
        >
        </path>
      </svg> GitHub</a>
    <a href={data.meta.docsLink} target="_blank" class="framework__linksItem">
      <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.1663 1.89111V5.33323C10.1663 5.79994 10.1663 6.0333 10.2572 6.21156C10.3371 6.36836 10.4645 6.49584 10.6213 6.57574C10.7996 6.66656 11.033 6.66656 11.4997 6.66656H14.9418M10.1663 14.1665H5.16634M11.833 10.8332H5.16634M15.1663 8.32336V14.3332C15.1663 15.7333 15.1663 16.4334 14.8939 16.9681C14.6542 17.4386 14.2717 17.821 13.8013 18.0607C13.2665 18.3332 12.5665 18.3332 11.1663 18.3332H5.83301C4.43288 18.3332 3.73281 18.3332 3.19803 18.0607C2.72763 17.821 2.34517 17.4386 2.10549 16.9681C1.83301 16.4334 1.83301 15.7333 1.83301 14.3332V5.6665C1.83301 4.26637 1.83301 3.56631 2.10549 3.03153C2.34517 2.56112 2.72763 2.17867 3.19803 1.93899C3.73281 1.6665 4.43288 1.6665 5.83301 1.6665H8.50949C9.12096 1.6665 9.4267 1.6665 9.71442 1.73558C9.96951 1.79682 10.2134 1.89783 10.4371 2.0349C10.6893 2.18951 10.9055 2.4057 11.3379 2.83808L13.9948 5.49493C14.4271 5.92731 14.6433 6.1435 14.7979 6.39579C14.935 6.61947 15.036 6.86333 15.0973 7.11842C15.1663 7.40614 15.1663 7.71188 15.1663 8.32336Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg> Docs</a>
  </div>
</li>
